.getInTouchLink:hover{ 
    color:var(--navy); 
    background:var(--green); 
    cursor:pointer;
}

/* @media (max-width:1600px){
    .AboutMe{
        min-width:480px !important; 
        min-height:300px !important;
    }
    .pContent{
        margin-right:5% !important;
    }
    .Name{
        font-size:48px !important;
    }
    .firstPhrase{
        width:100% !important;
    }
    .dive{
        width:100% !important;
    }
    .ProjectOpo{
        width:100% !important;
    }
    .spentMonths{
        width:100% !important;
    }
    .selfThaught{
        font-size:17px !important; 
    }
    .Picture{
        height:17vw;
    }
    .mePicture{
        height:fit-content !important;
    }
} */
/* @media (max-width:990px){
    .AboutMe{
    margin-left:auto !important;

    }
    .Picture{
        position:absolute !important; 
        top:28vh !important;
        left:57vw !important; 
        height:20vh !important;
    }
} */
/* @media(max-width:850px){
    .Picture{
        position:absolute !important;
        top: 260.4px !important; 
        left:488.5px !important;
    }
    .AboutPage{
        padding-left:100px !important; 
        padding-right:32vw !important;
    }
    .mainContent{
        min-height:302.719px !important;
    }
}
@media(max-width:695px){ 
    .Picture{ 
        left:60vw !important; 
    }
    .AboutPage{
       justify-content: center !important;
       padding-right:0px !important;
       padding-left:0px !important;
    }
    .AboutMe{
        justify-content: center !important;
    }
    .mainContent{
        padding:0px !important;
        justify-content: center !important;
    }
}
@media (max-width:600px){
    .AboutMe{ 
        min-width:370px !important; 
        margin-left:0px !important;
    }
    .Picture{ 
        height:170px !important;
        position:absolute !important;
        top:260px !important;
        left:50vw !important;
    }
}*/
/* Iphone 5, 5c 5se, 5s - Portrait  */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .AboutMe{
        width:200px;
    }
}
/* Iphone 6,7,8 Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 
}
/* TEST IPHONE 5  */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
    .Picture{
        height:140px;
        left:160px;
        top:190px;
    } 
    .AboutMe{
        width:250px;
        margin-top: 20px;
        margin-left:-20px;
    }
    .selfThaught{
        width:250px;
    }
    .selfThaught, .firstPhrase,.ProjectOpo, .spentMonths{
        width:220px;
    }
  }
 /* TEST IPHONE 6 7 8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
    .Picture {
        height:160px;
        left:180px;
        top:185px;
        } 
        .AboutMe{ 
            width:300px;
            margin-left:-20px;
        }
        .selfThaught{
            width:280px;
        }
        .firstPhrase,.ProjectOpo, .spentMonths{
            width:220px;
        }
  }
/* TEST IPHONE X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait){
    .Picture {
    height:150px;
    left:190px;
    top:220px;
    } 
    .AboutMe{
        width:300px;
    } 
    .selfThaught{ 
        width:180px;
    }
    .pContent, .selfThaught{
        width:280px;
    }
}
 /* TEST IPHONE 6 7 8 +++ */
 @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
   .Picture {
       height:160px;
       left:190px;
       top:200px;
       } 
    .AboutMe{
        width:340px;
    }
    .pContent, .selfThaught{
        width:300px;
    }
    .selfThaught, .ProjectOpo, .spentMonths{
        width:350px;
    }
 }
/* IPAD 1,2,3 - Portrait  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .Picture{
        height:260px;
        position:absolute;
        top:340px;
        left:450px;
    }
    .AboutMe{ 
        width:500px;
    }
    .Name{
        font-size:50px !important;
    }
    .selfThaught{
        width:480px;
    }
    .sous-titre{
        font-size:18px !important;
    }
    .firstPhrase, .ProjectOpo, .spentMonths, .dive, .getInTouchLink{
        font-size:20px !important;
    }
    .TitreAbout p{
        font-size:25px !important;
    }
    .TitreAbout{ 
        margin-bottom: 150px !important;
        margin-top: 100px !important;
    }
}
/* Ipad 1,2,3 - Portrait  */
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1),
   /* Nexus 7 - Portrait  */
 only screen and (min-device-width: 600px) and (max-device-width: 960px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait), 
/* Iphone 6+,7+,8+ - Portrait */
    only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
/* Iphone X - Portrait  */
  only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
/* Iphone 6,7,8 - Portrait */
  only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), 
  /* Iphone 5,5s,5c,5se - Portrait  */
  only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)
{ 
      .getInTouchLink{ 
          border-radius:5px;
      }
      .TitreAbout{ 
            margin-bottom:60px;
        }
        .Picture{ 
            display:flex; 
            position:absolute;
        }
        .TitreAbout{
            margin-top:20px;
        }
        .TitreAbout p{
            font-size:16px;
        }
        .Name{ 
            font-size:32px;
        }
        .sous-titre{
            font-size:12px;
        }
        .firstPhrase, .ProjectOpo, .spentMonths, .dive{
            width:fit-content;
            margin-right:0px;
            margin-bottom: 5px;
            font-size:12px;
        }
        .getInTouchLink{
            font-size:12px ;
        }
        .AboutPage{
            margin-bottom:150px;
        }
}
/* .Picture{
    height:200px;
}
.AboutMe{ 
    width:350px !important;
    margin-left:20px;
}
.pContent{ 
    width:320px;
}
.firstPhrase, .ProjectOpo, .spentMonths, .dive{
    width:fit-content !important;
    margin-right:0px !important;
    margin-bottom: 5px !important;
    font-size:12px !important;
}
.getInTouchLink{
    padding:3px;
    border-radius:5px;
    font-size:12px;
}
.TitreAbout p{
    font-size:16px;
} */
        
/* Galxy s6 - Landscape
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .Picture{
        top:100px !important;
        left:10px !important;
    }
} */

/* IPAD 1,2,3 - Landscapes  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: Landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .Picture{
        height:240px;
        position:absolute;
        top:220px;
        left:600px;
    }
    .Name{
        font-size:50px !important;
    }
    .selfThaught{
        width:600px;
    }
    .sous-titre{
        font-size:18px !important;
    }
    .firstPhrase, .ProjectOpo, .spentMonths, .dive, .getInTouchLink{
        font-size:20px !important;
    }
    .TitreAbout p{
        font-size:25px !important;
    }
    .TitreAbout{ 
        margin-bottom: 30px !important;
        margin-top: 50px !important;
    }
}
/* Iphone X - Landscapes  */
@media only screen and (min-device-width:375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .Picture{
        height:160px;
        position:absolute;
        left:480px;
        top:140px;
    }
     .AboutMe{ 
         margin-top:-30px !important;
        width:550px;
    }
    .selfThaugt, .ProjectOpo, .spentMonths, .firstPhrase, .sous-titre, .dive, .getInTouchLink{
        width:550px;
        font-size:16px !important;
    }
    .Name{ 
        font-size:40px !important;
    }
    .TitreAbout p { 
        font-size:20px !important;
        margin-top:-20px !important;
    }
}
/* Iphone 6+,7+,8+ - Landscapes  */
@media only screen and (min-device-width:414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .Picture{
        height:180px;
        position:absolute;
        left:470px !important;
        top:150px !important;
    }
     .AboutMe{ 
        width:500px;
    }
    .selfThaugt, .ProjectOpo, .spentMonths, .firstPhrase{
        width:500px;
    }
    .TitreAbout{
        margin-top:50px;
        margin-bottom:50px;
    }
}
/* Iphone 6,7,8 - Landscapes */
@media only screen and (min-device-width: 375px, 360px) and (max-device-width: 667px, 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
    .Picture{
    height:160px;
    position:absolute;
    left:340px;
    top:170px !important;
}
 .AboutMe{ 
    width:400px;
}
.selfThaugt, .ProjectOpo, .spentMonths, .firstPhrase{
    width:350px;
}
}
/* Iphone 5, SE - Landscapes */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
    .Picture{
        height:150px ! important;
    }
    .AboutMe{ 
        width:350px !important;
    }
    .ProjectOpo, .spentMonths, .firstPhrase, .dive{ 
        width:320px !important;
    }
}
/* Iphone 6,7,8+  */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
        .Picture{
            height:180px;
            position:absolute;
            left:330px;
            top:180px;
        }
         .AboutMe{ 
            width:400px;
        }
        .selfThaugt, .ProjectOpo, .spentMonths, .firstPhrase{
            width:380px;
        }
                    }
/*
.pContent{ 
    width:320px;
}
.firstPhrase, .ProjectOpo, .spentMonths, .dive{
    width:fit-content !important;
    margin-right:0px !important;
    margin-bottom: 5px !important;
    font-size:12px !important;
}
.getInTouchLink{
    padding:3px;
    border-radius:5px;
    font-size:12px;
}
.TitreAbout p{
    font-size:16px;
} */

  /* Galaxy s6 - Landscapes */
  @media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
        .Picture{ 
            height:150px !important;
            top:100px !important;
            left:400px !important;
        }
        .selfThaught, .ProjectOpo, .dive, .spentMonths, .firstPhrase, .getInTouchLink, .sous-titre{
            font-size:12px !important;
        }
        .TitreAbout{ 
            margin-top:40px !important;
            margin-bottom:0px !important;
        }
        .Name{ 
            font-size:30px !important;
        }
        .TitreAbout p{ 
            font-size:18px !important;
        }
    }
/* Iphone X - Landscapes  */
@media only screen and (min-device-width:375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape),
/* Iphone 6,7,8 - Landscapes  */
        only screen and (min-device-width: 375px, 360px) and (max-device-width: 667px, 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
/* Iphone 5, SE - Landscapes */
        only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
/* Iphone 6+,7+,8+ - Landscapes  */
        only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), 
/* Galaxy s6 - Landscapes */
        only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 
                        .getInTouchLink{ 
                            border-radius:5px;
                        }
                        .Name{ 
                            font-size:28px;
                        }
                        .getInTouchLink{
                            font-size:12px;
                        }
                        .firstPhrase, .ProjectOpo, .spentMonths, .dive{
                            margin-bottom: 5px;
                            font-size:12px;
                        }
                        .TitreAbout{
                            margin-bottom:50px;
                        }
}

@media (max-width:5000px){
.AboutPage{ 
    display:flex;
}
/* .AboutMe{
    margin-top:7vh;
} */
.selfThaught p{ 
    line-height: 1.3;
    width:25vw;
}
/* .ProjectOpo{
    width:30vw;
} */
.emph{
    color:var(--green);
    font-weight:600;
}
.AboutMe{
    padding:0 2vw 0 2vw;
}
/* .spentMonths{
    width:30vw;
}
.dive{
    width:30vw;
}
.firstPhrase{
    width:30vw;
} */
.TitreAbout
{
    animation:out 1s ease-in;
    animation-delay:0.6s;
}
.Picture{
    animation:out 1s ease-in;
    animation-delay:0.7s;
}
.AboutMe{
    animation:out 1s ease-in;
    animation-delay:0.8s;
}
}
@keyframes shortcutanim{
    0%{
        transform: translateY(100px);
        opacity:0;
    }
    20%{
        transform: translateY(50px);
        opacity:0.5;
    }
    40%{
        transform: translateY(0px);
        opacity:1;
    }
    60%{
        transform: translateY(0px);
        opacity:1;
    }
    80%{
        transform: translateY(0px);
        opacity:1;
    }
    100%{
        transform: translateY(100px);
        opacity:0;
    }
}
@keyframes out {
    0%{
        transform: translateY(30px);
        opacity:0;
    }
    20%{
        transform: translateY(30px);
        opacity:0.1;
    }
    40%{
        transform: translateY(30px);
        opacity:0.1;
    }
    60%{
        transform: translateY(30px);
        opacity:0.2;
    }
    80%{
        transform: translateY(30px);
        opacity:0.2;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}
@keyframes out-2 {
    0%{
        transform: translateY(100px);
        opacity:0;
    }
    20%{
        transform: translateY(100px);
        opacity:0.1;
    }
    40%{
        transform: translateY(100px);
        opacity:0.1;
    }
    60%{
        transform: translateY(100px);
        opacity:0.2;
    }
    80%{
        transform: translateY(100px);
        opacity:0.2;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}
