@media (max-width:1600px){ 
    .OneSchool.OneSchoolR{
        width:250px;
    }
    .TitleExperienceY{
        margin-left:-130px !important;
    }
}
@media (max-width:1305px){ 
    .Education.EducationScroll{
        display:flex !important;
        padding-right:5vw !important;
        padding-left:5vw !important;
    }
    .Experience{
        padding-left:0 !important;
        margin-left:150px !important;
    }
    .SchoolYear{
        padding-right: 0 !important;
        margin-right:150px !important;
    }
    .Education.EducationScroll{ 
        width:95vw !important;
        padding: 0!important;
    }
    .TitleSchoolY{
        margin-left:-8vw !important;
    }
    .TitleExperienceY{
        margin-left:-160px !important;
    }
}
@media (max-width:990px){ 
    .Education.EducationScroll{ 
        width:99vw !important;
        padding:0vh 0vw 5vh 0vw !important; 
        display:block !important;
    }
    .SchoolYear{
        width:80vw !important; 
        padding-left: 10vw !important; 
        padding-right:10vw !important;
        display:flex !important;
        justify-content:center !important;
        height:fit-content !important;
    }
    .Experience{
        margin:0 !important;
        width:80vw !important; 
        padding-top:2vh !important;
        padding-left: 10vw !important; 
        padding-right:10vw !important;
        display:flex !important;
        justify-content:space-around !important;
        height:fit-content !important;
    }
    .TitleExperienceY{
        margin-top:-2.5vh !important;
        margin-left:-6vh !important;
    }
    .TitleExperience{
        padding-top:3vh !important;
    }
    .OneSchool{
        margin-top:3vh !important;
        margin-left:7vw !important;
        height: fit-content !important;
    }
    .TSL{
        margin-top:-2vh !important;
    }
    .TSR{
        margin-top:-2vh !important;
    }
    .SchoolY{
        margin-top:-1vh !important;
    }
    .Cission{
        padding-top:5vh !important;
        justify-content: center !important;
        margin-left:auto !important;
        margin-right:auto !important;
        width:50vw !important;
        height:2vh !important;
        border-bottom: 1px solid var(--light-slate);
        border-right:none !important; 
        border-left: none !important;
    }
}
.Education{
    display:flex;
}
.SchoolYear{ 
    padding-top:6vh;
    width:25vw;
    padding-right:5vw;
}
.SchoolYA{ 
    text-align: center;
}
.SchoolYL{ 
    color:white !important;
    margin-top:-3.2vh;
    font-size:1.6vh;
    font-weight:600;
}
.LocationExperience{
    font-size:1.4vh;
}
.SchoolYE{
    font-size:1.4vh; 
    color:var(--green); 
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    text-align:center;
}
.SchoolYA{
    color:var(--lightest-slate);
    padding-bottom:0.2vh;
    font-size:1.6vh;
}
.SchoolY{
    text-align:center;
}
.OneSchoolR{ 
    margin-left:7vw;
    margin-right:0 !important;
}
.OneSchoolR.loaded{ 
    visibility:visible;
}
.OneSchool{ 
    background: var(--lightest-navy);
    padding:1vh 2vw 1vh 2vw;
    border-radius:5px;
    z-index:2;
    margin-top:2.7vh;
    width:fit-content;
    animation:outUp 0.3s ease-in;
}
.TitleSchoolY{ 
    background:var(--light-navy);
    padding:0.5vh;
    width:fit-content;
    border-radius:2.5px;
    margin-bottom:1vh;
    font-size:1.4vh;
}
.TitleExperienceY{ 
    font-size:1.4vh;
}
.SchoolY{ 
    padding-bottom:0.2vh;
    z-index:2;
}
.TSL{ 
    z-index:5;
    margin-left:-5vw;
    box-shadow: 0.2vh 0.2vh var(--green);
    z-index:20;
}
.TSR{ 
    margin-left:-5.5vw;
    box-shadow: 0.2vh 0.2vh var(--green);
}
.TitleSchoolY{ 
    z-index:5;
    color:var(--green);
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
.SchoolY{ 
    color:white;
}
.Experience{ 
    width:25vw;
    padding-left:4vw;
}
.Cission{
    animation:animationCission 0.5s ease-in;
    border-left:0.1vw solid var(--light-slate);
}
.Education{
    opacity:0;
    display:flex;
    padding:1vh 0vh 0vh 3vw;
}
.EducationTitre{ 
    display:flex;
    flex-direction:row;
    justify-content: center;
    opacity:0;
}
.EducationTitre.EducationTitre2{
    display:flex;
    justify-content: center;
    margin-bottom:8vh;
    margin-top:30vh;
    animation:outUp 1s ease-in;
    opacity:1;
}
.Education.EducationScroll{
    opacity:1;
    width:94vw;
    justify-content: center;
    display:flex;
    margin-bottom:26vh;
}

.EducationTitre p{ 
    margin-right:30px;
    color:var(--green);
    font-size:2.4vh;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
.EducationTitre p:last-child{ 
    color:var(--light-slate);
    text-decoration:underline
}

.OneExperience{ 
    background: var(--green);
    border-radius:0.225vw;
    z-index:2;
    padding:1vh 2vw 1vh 2vw;
    margin-top:6.5vh;
    /* margin-left:-1.5vw; */
    width:fit-content;
    animation:outUp 0.3s ease-in;
}
.Experience{
    padding-top:6vh;
    padding-left:10vw;
}
.TitleExperienceY{
    background:var(--lightest-navy);
    padding:0.5vh;
    width:fit-content;
    border-radius:0.125vw;
    margin-left:-7.8vw;
    box-shadow: 0.2vh 0.2vh var(--green),  0.3vh 0.3vh 0.3vh var(--navy);
    color:var(--green);
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
.TwoExperience{ 
    margin-left:3.2vw;
    margin-top:5vh;
}
.ExperienceY{
    /* padding:0.5vh; */
    text-align:center;
    padding-top:1vh;
}
.TitleExperience{
    color:var(--navy) !important;
    margin-top:-3vh;
    font-size:1.8vh;
    font-weight:700;
    /* padding-bottom:0.2vh; */
}
.RoleExperience{ 
    padding-bottom:0.2vh;
    color:var(--navy-shadow);
    font-weight:600;
    font-size:1.6vh;
}
@keyframes fadein{
    0% {opacity:0 }
    10% {opacity:0.1 }
    20% {opacity:0.2 }
    30% {opacity:0.3 }
    40% {opacity:0.4 }
    50% {opacity:0.5 }
    60% {opacity:0.5}
    70%, 72% {opacity:0.6 }
    80% { opacity:0.7 }
    90% { opacity:0.8  }
    95% { opacity:0.9  }
    100% { opacity:1}
}
@keyframes animationCission{
    0% {transform:scaleY(0) }
    100% {transform:scaleY(1) }
}
