@media (max-width:775px){
    .logoNavigation{
        display:none;
    }
}
@media (max-width:5000px){

.imgLogoNavigation{ 
    height:5vh;
    margin-top:2vh;
    border-radius:50%;
    place-items: center;
}
.logoNavigation{
    float:left;
}
li:first-of-type.scroll:after{
    animation:underlineNav 1.5s infinite;
}
li:nth-of-type(2).scrollProject:after{
    animation:underlineNav 1.5s infinite;
}
li:nth-of-type(3).scrollEducation:after{
    animation:underlineNav 1.5s infinite;
}
li:nth-of-type(4).scrollContact:after{
    animation:underlineNav 1.5s infinite;
}
.resumeLink.scroll{ 
    padding:5px;
    margin:auto;
    height:50%;
}
.NavigationTag{
    min-width:fit-content;
}
.olNav{ 
    order:2;
    float:right;
    margin-bottom:0px !important;
    place-items: center;
}
li.NavigationTag{ 
    margin-top:0.7vh;
}
li:first-of-type{
    animation:in 0.1s ease-in;
}

li:nth-of-type(2){
    animation:in 0.1s ease-in;
    animation-delay:0.1s;
}
li:nth-of-type(3){
    animation:in 0.1s ease-in;
    animation-delay:0.2s;
}
li:nth-of-type(4){
    animation:in 0.1s ease-in;
    animation-delay:0.3s;
}
.headerNavigation{
    display:flex;
    position:sticky;
    top:0px;
    background:var(--navy);
    z-index:100;
    width:100vw;
    place-items: center;
}
.headerNavigation.scroll{
    opacity:0.95;
    width:98vw !important;
}
ol{ 
    list-style-type: none;
    display:flex;
    color: var(--lightest-slate);
    font-size:14px;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-weight:100;
}
.NavigationBar{
    margin-top:-1.5vh;
    place-items: center;
    width:92vw;
    padding-right:3vw;
    padding-left:3vw;
    background:var(--navy);
}
li{
    margin-right:3vw;
    padding:10px;
}
  ol li {
    counter-increment: number;
  }
  ol li:before {
    content: '0'counter(number) '. ';
    padding-right:10px;
    color:var(--green);
    font-size:14px;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-weight:100;
  }
  .resumeLink{ 
      padding:1vh;
      border-radius: 5px;
      border:1px solid var(--green);
      padding-left:15px;
      padding-right:15px;
      color:var(--green);
      animation:in 0.1s ease-in;
      animation-delay:0.4s;
  }
  li{ 
    place-items: center;
  }
  .resumeLink:hover{ 
       display:block;
      content: '';
      text-decoration: underline;
      color:var(--navy);
      background:var(--green);
      cursor:pointer;
      transition: color 0.5s ease;
      transition: background 0.5s ease;
  }
  li:hover{ 
      cursor:pointer;
  }
  li:after {
        padding-bottom:8px;
        display:block;
        content: '';
        border-bottom: solid 1px rgb(255, 255, 255);  
        transform: scaleX(0);  
        transition: transform 550ms ease-in-out;
        transform-origin:100% 50%
  }
  li:hover:after { 
    transform: scaleX(1);
    transform-origin:0 50%;
  }

@keyframes underlineNav{ 
    0%{ 
        transform: scaleX(0);
        transform-origin:0 50%;
    }
    33%{ 
        transform: scaleX(1); 
        transform-origin:0% 50%
    }
    66%{ 
        transform: scaleX(1);
        transform-origin:100% 50%;
    }
    100%{ 
        transform: scaleX(0); 
        transform-origin:100% 0%;
    }
}
@keyFrames in {
    0%{
        transform: translateY(-10px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}
}