/* IPAD 1,2,3 - Landscapes  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .ProjectTitre.ProjectTitre2 p{
          font-size:25px !important;
      }
    .videoProject2, .videoProject{
        height:280px !important;
        margin:15vh 0vw 2vh 0vw !important;
    }
    .ProjectBorderLeft{ 
        height:180% !important;
    }  
    .FullDescription, .FullDescriptionL, .tag{
        font-size:18px !important;
    }
    .Date{
        font-size:20px !important;
    }
    .Titre{ 
        font-size:22px !important;
    }
    .ProjectCore{
        width:350px !important;
    }
    .ProjectBorder.loaded{
        width:130% !important;
    }
    .ProjectContent, .ProjectContent2{
        margin-bottom:450px !important;
    }
    .ProjectBorderRight.loaded{ 
        height:400px !important;
    }
}
/* Iphone 6,7,8 - Landscapes  */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
    #root > div.ProjectOverAll > div:nth-child(5){
        margin-top:275px !important;
    }
    .videoProject, .videoProject2{ 
        height:140px !important;
        margin-right:25px;
    }
    .Project.p1{ 
        margin-left:55px;
    }
    #videoProject1{ 
        margin-top:70px !important;
    }
    #videoProject2{ 
        margin-top:50px !important;
    }
    #videoProject3{ 
        margin-top:80px !important;
    }
    .ProjectVideo2{ 
        width:fit-content !important
    }
    #videoProject4{ 
        margin-top:0px !important;
    }
    #root > div.ProjectOverAll > div:nth-child(3){
        margin-bottom:80px;
    }
    #root > div.ProjectOverAll > div:nth-child(5){
        margin-top:80px !important;
    }
    .Date{
        font-size:11px !important;
    }
}
/* Iphone X - Landscapes  */
@media only screen and (min-device-width:375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .videoProject, .videoProject2{
        height:170px !important;
    }
    .ProjectContent, .ProjectContent2{
        margin-bottom:0px !important;
    }
    .ProjectBorderRight.loaded{ 
        height:0px !important;
    }
    .ProjectCore{ 
        width:300px !important;
        margin-right:45px !important;
    }
    .Project.p1{ 
        margin-left:60px !important;
    }
    .FullDescriptionL{ 
        text-align: right;
    }
    .FullDescriptionL, .FullDescription, .Date, .tag{
        font-size:14px !important;
    }
    .Titre{ 
        font-size:16px !important;
    }
    .ProjectTitre.ProjectTitre2 p{ 
        font-size:20px !important;
    }
    .borderUp{ 
        margin-left:50px;
    }
    #videoProject1{
        margin-top: 75px !important;
    }
    #videoProject2{
        margin-top: 25px !important;
    }    
    #videoProject3{
        margin-top: 75px !important;
        margin-bottom:0px !important;
    }    
    #videoProject4{
        margin-top: 20px !important;
        margin-bottom:0px !important;
    }
    .ProjectContent2{
        margin-bottom:150px !important;
    }
}
/* Iphone 6+,7+,8+ - Landscapes */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
    .videoProject2, .videoProject{
        height:190px !important;
        margin-right:30px;
    }
    #videoProject1{
        margin-top:60px;
    }
    #videoProject2{
        margin-top:30px !important;
        margin-bottom:180px !important;
    }
    #videoProject3{
        margin-top:100px !important;
    }
    #videoProject4{
        margin-top:0px !important;
    }
    .ProjectContent2.loaded{
        margin-left:0px !important;
    }
}
/* Iphone 5, 5c 5se, 5s - Landscapes  */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      .ProjectOverAll{ 
          width:550px !important;
      }
    .ProjectBorder.loaded{
        width:120% !important;
    }
    .Project.p2, .ProjectContent2.loaded, .Project.p1, .ProjectContent.loaded{
        width:fit-content! important;
    }
    .Project.p1, .Project.p2{ 
        display:flex;
    }
    .FullDescription, .FullDescriptionL, .tag, .Date{
        font-size:11px!important;
    }
    .FullDescriptionL{
        text-align:right;
    }
    .ProjectCore{ 
        width:220px !important;
    }
    .Project.p1 .ProjectCore{
        margin-left:20px !important;
    }
    #videoProject4{ 
        margin-top:0px !important;
    }
    #videoProject2{
        margin-top:25px !important;
    }
    .videoProject{ 
        margin-left:-25px !important;
    }
    .videoProject2{ 
        margin-top:70px !important;
    }
    .Project.p2{
        margin-left:0!important;
    }
    .videoProject2, .videoProject{
        height:150px !important;
    }
    .Date{
        font-size:10px !important;
    }
}
/* Galaxy s6 - Landscapes */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), 
        only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 4) and (orientation: landscape)
    {
    .ProjectTitre.ProjectTitre2 p{
        font-size:18px !important;
    }
    .videoProject, .videoProject2{
        height:150px !important;
        margin-right:0px !important;
        margin-left:0px !important;
    }
    .FullDescription, .FullDescriptionL, .Date, .tag{ 
        font-size:11px !important;
    }
    .borderUp{ 
        margin-left:0px;
    }
    .ProjectCore{ 
        width:180px !important;
        /* margin-right:0px !important;
        margin-left:0px !important; */
    }
    .videoProject{ 
        margin-left: -50px !important;
    }
    .ProjectContent, .ProjectContent2{
        margin:0px !important 
    }
  }
/* Iphone X - Landscapes  */
@media only screen and (min-device-width:375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape), 
/* Iphone 6,7,8 - Landscapes  */
        only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
/* Ipad 1,2,3 - Landscapes */
        only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1){
/* Galaxy s6 - Landscapes */
        /* only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 4) and (orientation: landscape), */
            /* only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){  */
            .videoProject{
                margin-top:50px !important;
            }
            .videoProject, .videoProject2{ 
                border-radius:10px;
            }
            .Project.p1, .Project.p2{ 
                display:flex;
            }
            .ProjectCore{ 
                margin-right:25px;
                margin-left:25px;
            }
            .Date, .tags{ 
                margin:20px 0px 20px 0px !important;
                width:100%;
                text-align: right;
            }
            .ProjectBorderRight.loaded{ 
                height: 110%;
                margin-top:-50px !important;
            }
            .Project.p2{
                margin:200px 0px 0px 70px;
            }
            .ProjectBorderLeft{
                height: 290%;
                margin-top:-60px !important;
            }
            .ProjectTitre.ProjectTitre2 p{
                font-size:16px;
            }
            .videoProject, .videoProject2{
                height:200px;
                margin-top:25px;
            }
            .ProjectContent.loaded, .ProjectContent2.loaded{
                margin:0 0 0 20px;
                padding:0px;
            }
            .Titre, .Date{ 
                font-size:14px;
            }
            .Date{ 
                margin:5px !important;
            }
            .FullDescription, .FullDescriptionL, .tag{
                font-size:12px;
            }
            .borderRight{
                width:auto !important;
            }
            .ProjectCore{ 
                /* margin:0px; */
                width:250px;
            }
            .ProjectBorder.loaded{
                width:140%;
            }
            .ProjectBorderUpRight.loaded{ 
                width:280px !important;
            }
        }
/* Iphone 5, 5c 5se, 5s - Portrait  */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .videoProject2, .videoProject{
        height:160px !important;
    }
    .ProjectContent.loaded, .ProjectContent2.loaded{
        width:300px;
    }
    .ProjectVideo, .ProjectVideo2{ 
        justify-content: center !important;
    }
    .Project.p1{
        justify-content: center !important;
    }
    .videoProject2{ 
        margin: 0 auto;
        width:auto;
    }
}
/* IPAD 1,2,3 - Portrait  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .ProjectTitre.ProjectTitre2 p{
        font-size:25px !important;
    }
    .Titre{ 
        font-size:24px !important;
    }
    .Date{ 
        margin:5px !important;
        font-size:20px !important;
    }
    .tagResources{ 
        height:25px !important;
        margin-bottom:25px;
    }
    #root > div.ProjectOverAll > div:nth-child(3) > div > div.borderUpRight > div.borderRight > div.ProjectCore > div > div.firstLine > div.share > div:nth-child(2) > img,
    #root > div.ProjectOverAll > div:nth-child(2) > div > div.borderUp > div.borderLeft > div.ProjectCore > div.ProjectDescription1 > div > div.share > div:nth-child(2) > a > img,
    #root > div.ProjectOverAll > div:nth-child(4) > div > div.borderUp > div.borderLeft > div.ProjectCore > div > div.firstLine > div.share > div:nth-child(2) > img,
    #root > div.ProjectOverAll > div:nth-child(5) > div > div.borderUpRight > div.borderRight > div.ProjectCore > div > div.firstLine > div.share > div:nth-child(2) > img
    { 
        padding-left:20px !important;
    }
    .FullDescription, .FullDescriptionL, .tag{
        font-size:18px !important;
    }
    .ProjectVideo{ 
        margin-top:50px;
    }
    .videoProject2, .videoProject{ 
        height:350px !important;
        margin:0 auto !important;
        display: flex;
        justify-content: center;
        border-radius:15px !important;
    }
    .videoProject{
        margin-top:-260px !important;
    }
    .ProjectContent.loaded, .ProjectContent2.loaded{
        width:375px;
        margin:250px 0 0 0 !important; 
        padding:0;
    }
    .Project.p1, .Project.p2{
        display:block !important;
        margin:0;
        width:auto;
    }
    .ProjectCore{
        width:450px !important;
        margin:0 auto !important;
    }
    .ProjectBorderLeft, .ProjectBorder.loaded, .ProjectBorderRight.loaded, .ProjectBorderUpRight.loaded{ 
        display:none !important;
    }
    .FullDescription, .FullDescriptionL{
        text-align:center !important;
    }
    #root > div.ProjectOverAll > div:nth-child(5){
        margin-top:400px !important;
    }
    .ProjectVideo2, .ProjectVideo{
        width:100vw !important;
    }
}
/* Iphone X - Portrait  */
@media  only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait){
    #root > div.ProjectOverAll > div:nth-child(4){
        margin-top:450px !important;
    }
}

/* Iphone X - Portrait  */
@media  only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait), 
/* Iphone 6+,7+,8+ - Portrait  */
        only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
/* Iphone 6,7,8 - Portrait  */
        only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), 
/* Iphone 5, 5c 5se, 5s - Portrait  */
        only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), 
/* Ipad 1, 2, 3 - Portrait */
        only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) 
        {
    .ProjectTitre.ProjectTitre2 p{
        font-size:16px;
    }
    .borderRight{
        width:inherit;
    }
    .borderUp, .borderUpRight{ 
        display:flex;
        justify-content: center;
        margin:0 ;
        padding:0px ;
        width: 100vw;
    }
    .Titre, .Date{ 
        font-size:14px;
    }
    .Date{ 
        margin:5px ;
    }
    .FullDescription, .FullDescriptionL, .tag{
        font-size:12px ;
    }
    .ProjectVideo{ 
        margin-top:50px;
    }
    .videoProject2, .videoProject{ 
        height:200px;
        margin:0 auto ;
        display: flex;
        justify-content: center;
        border-radius:15px ;
    }
    .videoProject{
        margin-top:-260px ;
    }
    .ProjectContent.loaded, .ProjectContent2.loaded{
        width:375px;
        margin:250px 0 0 0 ; 
        padding:0;
    }
    .Project.p1, .Project.p2{
        display:block ;
        margin:0;
        width:auto;
    }
    .ProjectCore{
        width:250px;
        margin:0 auto ;
    }
    .tags{
        padding-bottom:50px;
        border-bottom:1px solid var(--green);
    }
    .ProjectDescription2 .tags{
        padding-bottom:300px;
        border-bottom:1px solid var(--green);
    }
    .ProjectBorderLeft, .ProjectBorder.loaded, .ProjectBorderRight.loaded, .ProjectBorderUpRight.loaded{ 
        display:none ;
    }
    .FullDescription, .FullDescriptionL{
        text-align:center ;
    }
    #root > div.ProjectOverAll > div:nth-child(5){
        margin-top:400px ;
    }
    .ProjectVideo2, .ProjectVideo{
        width:100vw ;
    }
}
@media (max-width:1800px){ 
        .FullDescription,.FullDescriptionL{
            /* font-size:15px !important; */
        }
        /* .Date, .DateL{
            font-size:15px !important;
        } */
        /* .Titre{
            font-size:18px !important;
        } */
        /* .ProjectCore{
            min-width:320px !important;
        } */
        /* .ProjectContent{
            margin-left:10vw !important;
        }
        .ProjectContent2.loaded{
            margin-left: 13vw;
        }
        .ProjectContent2{ 
            margin-right:5vw !important;
        } */
        .ProjectVideo2{
            /* width:fit-content !important;
            position:absolute !important;
            margin-left:5vw;
            left:36vw !important; */
        }
        /* .overLayProject2{
            left:31vw !important;
            z-index: 2;
            width:796.156px !important;
            height:435px !important;
            margin-right:0 !important;
        }
        .overLayProject3{ 
            left:10vw !important;
            height:400px !important;
            width:711.400px;
        }
        .overLayProject1{
        left:10vw !important;
    }
    .overLayProject4{
        left:31vw !important; 
        z-index:2 !important;
    } */
}
@media (min-width:1500px){
    .ProjectBorder.loaded{
        content:'';
        width:140%;
        display:flex;
        border-top:1px solid var(--green);
        animation:borderUp 0.5s ease-in;
        margin-left:-6vw;
    }
    /* .overLayProject2{
        margin: 18.2vh 1.5vw 2vh 9.5vw !important;
    }
    .overLayProject4{
        margin: 18.2vh 1.5vw 2vh 9.5vw !important;
    } */
    .videoProject{
        /* margin-left:-0.5vw !important;  */
    }
}
/* @media (max-width:1370px){
    .FullDescription{ 
        text-align: center;
    }
    .FullDescriptionL{ 
        text-align: center !important;
    }
    .ProjectVideo{
        padding:0 !important; 
        justify-content: center;
        width:auto !important;
        display:flex;
        margin-left:0 !important;
    }
    .ProjectVideo2{ 
        justify-content: center;
        width:auto !important;
        display:flex;
        position:inherit !important;
    }
    .videoProject{ 
        height:300px !important;
        padding: 0 !important; 
        margin-right:0 !important;
        margin-bottom:100px !important;
        margin-top:82px;
        height:300px !important;
        display:flex !important; 
        justify-content: center;
    }
    .p1.Project{
        display:block !important;
        width:50vw !important; 
        padding:10vh 20vw 10vh 20vw !important;  
        justify-content:center !important;
    }
    .p2.Project{
        display:block !important;
        width:50vw !important; 
        padding:0vh 20vw 10vh 20vw !important;  
        justify-content:center !important;
    }
    .ProjectBorderUpRight.loaded{ 
        width:60% !important;
    }
    .borderUpRight{ 
        padding-top:20vh !important;
        display:flex !important;

        justify-content: center! important;
    }
    .borderRight{
        width:auto !important;
    }
    .ProjectContent.loaded{
        margin:0 !important; 
        padding:0 !important;
        width:98vw;
    }
    .ProjectContent2.loaded{
        margin:0 !important; 
        padding:0 !important;
        width:98vw;
    }
    .videoProject2{ 
        padding: 0 !important; 
        margin:0 !important;
        margin-bottom:100px !important;
        display:flex !important; 
        justify-content: center;
    }
    .videoProject{
        
    }
    .videoProject1{
        margin:0!important;
        padding:0 !important;
    }
    .ProjectBorder.loaded{
        width:130% !important;
    } */
    /* .overLayProject1
    {
        height:295px !important;
        width:549.609px !important;
        top:57vh;
        left:-0.3vw !important;
        position:relative !important;
        margin:auto !important;
        display: flex !important;
        justify-self: center;
        margin-top:-40vh !important;
    } */
    /* .overLayProject3{
        height:295px !important;
        width:533.594px !important;
        top:56.8vh;
        left:-0.3vw !important;
        position:relative !important;
        margin:auto !important;
        display: flex !important;
        justify-self: center;
        margin-top:-40vh !important;
    }
    .overLayProject2{
        height:300px !important;
        width:549.609px !important;
        top:114.2vh;
        left:2.1vw !important;
        position:relative !important;
        margin:auto !important;
        display: flex !important;
        justify-self: center;
        margin-top:-40vh !important;
        z-index:0 !important;
    }.ProjectDescription2{
        max-height:261.688px !important;
    }
    .overLayProject4{
        height:300px !important;
        width:533.328px !important;
        top:114.2vh;
        left:2.1vw !important;
        position:relative !important;
        margin:auto !important;
        display: flex !important;
        justify-self: center;
        margin-top:-40vh !important;
        z-index:0 !important;
    } */
/* } */
/* @media (min-width:970px){
    .overLayProject1, .overLayProject3{
        left: 0.15vw !important;
    }
    .overLayProject2, .overLayProject4{
        left: 2.3vw !important;
    }
} */
@media (max-width:825px){
    /* .ProjectOverAll{
        width:90vw !important;
    }
    .ProjectContent{ 
        width:90vw !important;
    }
    .ProjectContent2{
        width:90vw !important;
    } */
    .videoProject2{ 
        /* margin-left:5vw !important; */
    }
    .videoProject{ 
        /* margin-left:2vw !important; */
    }
    /* .overLayProject1, .overLayProject3{
        left:2.5vw !important;
    }
    .overLayProject2{ 
        left:3.5vw !important;
    }
    .overLayProject4{
        left:3.5vw !important;
    } */
}
@media (max-width:640px){
    .videoProject{
        /* height:250px !important; */
    }
    .videoProject2{
        /* height:250px !important; */
    }
    /* .overLayProject1{
        height:250px !important;
        width:458px !important;
        top:52vh !important;
    }
    .overLayProject2{
        height:250px !important;
        width:458px !important;
        top:108.75vh !important;
    }
    .overLayProject3{
        height:250px !important;
        width:444.438px !important;
        top:52vh !important;
    }
    .overLayProject4{
        height:250px !important;
        width:444.438px !important;
        top:108.6vh !important;
    }
} */
/* @media(max-width:602px){ */
    /* .borderUp{
        margin-left:-10vw !important;
        padding-left:0vw !important;
    }
    .borderLeft{
        padding-left:2vw !important;
    }
    .ProjectBorder.loaded{
        width:128% !important;
    }
    .ProjectCore{
        padding-left:0px !important;
    }
    .Project.p2 .ProjectCore{ 
        padding-left: 6vw !important;
        padding-right: 0vw !important;
    }
    .Project.p2 .ProjectBorderUpRight.loaded{ 
        width:80% !important;
        margin-left: 5% !important;
    }
} */
/* @media (max-width:510px){
    .overLayProject1{
        left:2vw !important;
    }
    .overLayProject2{
        left:3vw !important;
    }
} */
}
@media (max-width:500px){
    /* .ProjectOverAll{ 
        padding-top:3vh!important;
        padding-bottom:50vh !important;
    }
    .ProjectTitre.ProjectTitre2{
        margin-top:0px !important;
    }
    .overLayProject1, .overLayProject2, .overLayProject3, .overLayProject4{
        display:none !important;
    }
    .ProjectContent, .ProjectContent2{
        width:100vw !important;
    }
    .Project.p1 {
        padding:0px !important;
        margin:0px !important;
        width:100vw !important;
    }
    .Project.p2 {
        padding:0px !important;
        margin:0px !important;
        width:100vw !important;
    }
    .videoProject1, .videoProject2, .videoProject{
        height:45vw !important;
        padding:0px !important; 
        margin:0px !important;
    } */
    .ProjectVideo{ 
        /* margin-top:30vh !important; */
    }
    /* .FullDescription, .FullDescriptionL{
        font-size:1.8vh !important;
    }
    .Date, .tag{ 
        font-size:1.6vh !important; 
    }
    .Titre{
        font-size:1.9vh !important;
    }
    .videoProject{ 
        margin-bottom:10vh !important; 
    }
    .ProjectOverAll{
        width:90vw !important;
    }
    .ProjectContent.loaded{
        margin-bottom:15vh !important;
    }
    #videoProject2{
        margin-top:18vh !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
    #videoProject4{
        margin-top:8vh !important;
    }
    .borderUp{
        margin:0px !important; 
        padding:0px!important;
        justify-content: center !important;
    }
    .Project.p1 .ProjectCore{
        border-bottom:2px solid var(--green);
    }
    .Project.p2:after{
        content : "";
        position: absolute;
        justify-content:center;
        height  : 2px;
        margin-left:8%;
        margin-top:-5vh;
        width   : 84%; 
        border-bottom:2px solid var(--green);
    }
    .ProjectBorder.loaded{ 
        display:none !important;
    }
    .ProjectBorderLeft{ 
        display:none !important;
    }
    .ProjectCore{
        width:60vw!important; 
        padding-right:0px !important;
        padding-left:0px !important;
    }
    .ProjectBorderUpRight.loaded{ 
        display:none !important;
    }
    .ProjectBorderRight{ 
        display:none !important;
    } */
}

.dateProject{
    order: 2;
    place-items: center;
}
.tags{ 
    margin-top:2vh;
    display:flex;
    justify-content:space-evenly;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    color:var(--green);
    font-size:12px;
}
.tagResources{ 
    min-height:15px;
    height:0.8vw;
    margin-top:5px;
    margin-left:12px;
    filter: invert(91%) sepia(43%) saturate(599%) hue-rotate(83deg) brightness(100%) contrast(106%);
}
.tagResources:hover{
    cursor:pointer; 
    filter: invert(85%) sepia(19%) saturate(585%) hue-rotate(194deg) brightness(98%) contrast(97%);
}
.ProjectTitre{ 
    margin-top:30vh;
    opacity:0;
    display:flex;
    justify-content: center;
}
.ProjectTitre p{ 
    margin-right:30px;
    color:var(--green);
    font-size:2.4vh;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
.ProjectTitre p:last-child{ 
    color:var(--light-slate);
    text-decoration:underline
}
.projectTitle{ 
    padding-top:10px;
    padding-left:25px;
}
.secondLine{
    display:flex;
    padding-top:10px;
    padding-left:10px;
}
.dateProject{
    order: 2;
    place-items: center;
}
.ProjectTitre.ProjectTitre2{
    padding-top:10vh;
    animation:out 0.5s ease-in;
    opacity:1;
    width:40vw;
    margin-left:30vw;
}

.ProjectVideo{ 
    animation:outUpVideo 0.5s ease-in;
}
.videoProject15{ 
        height:400px;
    border-radius:10px;
    margin:3vh 3vw 2vh 0vw;
}
.ProjectVideo:hover, .ProjectVideo2:hover{
    filter: drop-shadow(5px 5px 10px black);
    -webkit-filter: drop-shadow(5px 5px 10px black);
    }
.ProjectVideo2{
    animation:outUp 0.5s ease-in;
}
.ProjectDescription1, .ProjectDescription2{ 
    padding-top:20px;
}

.share{ 
    order:2;
    display:flex;
    margin-left:auto;
    /* margin-top:-4.5vh; */
}
.Date{
    float:right;
    margin-top: 2vh;
    color:var(--green);
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    color:var(--light-slate);

}
.FullDescription{ 
    margin-top:7vh;
    color:var(--light-slate);
}
.FullDescriptionL{ 
    margin-top:7vh;
    color:var(--light-slate);
    /* text-align:right; */
}
.Titre{
    font-weight:600;
    color:white;
}
.firstLine{ 
    display:flex;
}
@media(min-width:1000px){
.projectTitle{ 
    padding-top:10px;
    padding-left:25px;
}
.secondLine{
    display:flex;
    padding-top:10px;
    padding-left:10px;
}
.dateProject{
    order: 2;
    place-items: center;
}
.ProjectTitre.ProjectTitre2{
    padding-top:10vh;
    animation:out 0.5s ease-in;
    opacity:1;
    width:40vw;
    margin-left:30vw;
}
.borderUp{
    order:2;
    display:flex;
    padding-left:2vw;
}
.ProjectBorder.loaded{
    content:'';
    width:150%;
    display:flex;
    border-top:1px solid var(--green);
    animation:borderUp 0.5s ease-in;
    margin-left:-6vw;
}
.ProjectBorder2{
    width:0; 
    height:0;
}
.ProjectVideo2{ 
    /* width:fit-content; */
}
.ProjectBorderRight.loaded{
    display:flex;
    border-left:1px solid var(--green);
    animation:borderRight 0.5s ease-in;
    height:40vh;
    margin-top:-7vh;
    padding-top:5vh;
}
.borderUp{
    height:35vh;
}
.ProjectBorderLeft{ 
    display:flex;
    border-left:1px solid var(--green);
    animation:borderRight 0.5s ease-in;
    margin-top:-7vh;
    padding-top:5vh;
    height:120%;
}
.ProjectBorder2.loaded{
    display:flex;
    margin-right:-20vw;
    margin-left:20vw;
    height:30vh;
    margin-top:-8vh;
    border-left:1px solid var(--green);
}
.ProjectBorderUpRight.loaded{ 
    animation:borderRight 0.5s ease-in;
    width:24vw;
    margin-left:-8vw;
    padding-left:10vw;
    border-top:1px solid var(--green);
    position:absolute;
    animation:borderUp 0.5s ease-in;
}
.borderUpRight{
    padding-right:2vw;
}
.borderLeft{ 
    margin-top:-10vh;
    padding-top:10vh;
}
.borderRight{ 
        width:20vw;
        display:flex;
        margin-top:-10vh;
        padding-top:10vh;
}
.ProjectCore{
    padding:7vh 3vh 3vh 3vh;
}
.ProjectDescription1{
    margin-top:-6vh;
}
.ProjectDescription2{
    margin-top:-6vh;
}
.ProjectTitre{ 
    margin-top:30vh;
    opacity:0;
    display:flex;
    justify-content: center;
}
.ProjectTitre p{ 
    margin-right:30px;
    color:var(--green);
    font-size:2.4vh;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
.ProjectTitre p:last-child{ 
    color:var(--light-slate);
    text-decoration:underline
}
/* .overLayProject1{ 
    position:absolute; 
    background:RGBA(100,255,218,0.6);
    width:732.812px;
    height:400px;
    left:25vw;
    margin:18.2vh 2vw 2vh 0vw;
    border-radius:10px;
    animation-delay:0.5s
}

.overLayProject2{ 
    position:absolute; 
    background:RGBA(100,255,218,0.6);
    width:796px;
    height:435px;
    left:26vw;
    margin:18.2vh 2vw 2vh 10vw;
    border-radius:10px;
}
.overLayProject3{ 
    position:absolute; 
    background:RGBA(100,255,218,0.6);
    width:711.400px;
    height:400px;
    left:25vw;
    margin:18.1vh 2vw 2vh 0vw;
    border-radius:10px;

}
.overLayProject4{ 
    position:absolute; 
    background:RGBA(100,255,218,0.6);
    width:773.328px;
    height:435px;
    left:26vw;
    margin:18vh 2vw 2vh 10vw;
    border-radius:10px;
} */
.ProjectContent{ 
    margin-left:25vw;
    padding-left:15vw;
    width:26.8%;
    background-position:fixed;
}
.ProjectContent2{ 
    width:fit-content;
    opacity:1;
    margin:auto;
    margin-right:40vw;
}
.ProjectContent.loaded{
    animation:outUp 0.5s ease-in;
    margin-right:20vw;
}
.ProjectContent2.loaded{
    animation:outUp 0.5s ease-in;
}
.Project{
     width:45vw; 
     margin:15vh auto 0 auto; 
     display:flex; 
}
.ProjectVideo{ 
    animation:outUpVideo 0.5s ease-in;
}
.videoProject15{ 
        height:400px;
    border-radius:10px;
    margin:3vh 3vw 2vh 0vw;
}
.ProjectVideo:hover, .ProjectVideo2:hover{
    filter: drop-shadow(5px 5px 10px black);
    -webkit-filter: drop-shadow(5px 5px 10px black);
    }
.ProjectVideo2{
    animation:outUp 0.5s ease-in;
}
.ProjectDescription1, .ProjectDescription2{ 
    padding-top:20px;
}
.imageProjet{
    width:20vw;
}
.videoProject{ 
    /* height:435px; */
    border-radius:10px;
    margin:3vh 0vw 2vh 0vw;
}
.videoProject2{ 
    height:400px;
    margin:3vh 0vw 2vh -15vw;
    border-radius:10px;
}
.firstLine{ 
    display:flex;
}
.share{ 
    order:2;
    margin-left:auto;
    display:flex;
}
.Date{
    float:right;
    margin-top:2vh;
    font-size:0.9vw;
    color:var(--green);
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    color:var(--light-slate);
}
.FullDescription{ 
    margin-top:7vh;
    font-size:0.8vw;
    color:var(--light-slate);
}
.FullDescriptionL{ 
    margin-top:7vh;
    font-size:0.8vw;
    color:var(--light-slate);
    text-align:right;
}
.Titre{
    font-size:1vw;
    font-weight:600;
    color:white;
}

@keyframes fadein{
    0% {opacity:0 }
    10% {opacity:0.1 }
    20% {opacity:0.2 }
    30% {opacity:0.3 }
    40% {opacity:0.4 }
    50% {opacity:0.5 }
    60% {opacity:0.5}
    70%, 72% {opacity:0.6 }
    80% { opacity:0.7 }
    90% { opacity:0.8  }
    95% { opacity:0.9  }
    100% { opacity:1}
}
@keyframes borderUp{
    0%{
        transform:scaleX(0);
    }
    100%{
        transform:scaleX(1);
    }
}
@keyframes borderRight{
    0%{
        transform:scaleY(0);
    }
    100%{
        transform:scaleY(1)
    }
}
@keyframes out {
    0%{
        transform: translateY(30px);
        opacity:0;
    }
    20%{
        transform: translateY(30px);
        opacity:0.1;
    }
    40%{
        transform: translateY(30px);
        opacity:0.1;
    }
    60%{
        transform: translateY(30px);
        opacity:0.2;
    }
    80%{
        transform: translateY(30px);
        opacity:0.2;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}
@keyframes outUp {
    0%{
        transform: translateY(100px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}
@keyframes outUpVideo {
    0%{
        transform: translateY(100px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}
}