@media (max-width:1800px){ 
        .FullDescription,.FullDescriptionL{
            font-size:15px !important;
        }
        .Date, .DateL{
            font-size:15px !important;
        }
        .Titre{
            font-size:18px !important;
        }
        .ProjectCore{
            min-width:320px !important;
        }
        .ProjectContent{
            margin-left:10vw !important;
        }
        .ProjectContent2.loaded{
            margin-left: 13vw;
        }
        .ProjectContent2{ 
            margin-right:5vw !important;
        }
        .ProjectVideo2{
            width:fit-content !important;
            position:absolute !important;
            margin-left:5vw !important;
            left:36vw !important;
        }
        .overLayProject2{
            left:31vw !important;
            z-index: 2;
            width:796.156px !important;
            height:435px !important;
            margin-right:0 !important;
        }
        .overLayProject3{ 
            left:10vw !important;
            height:400px !important;
            width:711.400px;
        }
        .overLayProject1{
        left:10vw !important;
    }
    .overLayProject4{
        left:31vw !important; 
        z-index:2 !important;

    }
}
@media (max-width:1370px){
    .ProjectVideo{
        padding:0 !important; 
        margin: 0!important;
        justify-content: center;
        width:auto !important;
        display:flex;
    }
    .ProjectVideo2{ 
        justify-content: center;
        width:fit-content !important;
        display:flex;
        position:inherit !important;
    }
    .videoProject{ 
        height:300px !important;
        padding: 0 !important; 
        margin-right:0 !important;
        margin-bottom:100px !important;
        margin-top:82px !important;
        height:300px !important;
        display:flex !important; 
        justify-content: center;
    }
    .p1.Project{
        display:block !important;
        width:50vw !important; 
        padding:10vh 20vw 10vh 20vw !important;  
        justify-content:center !important;
    }
    .p2.Project{
        display:block !important;
        width:50vw !important; 
        padding:0vh 20vw 10vh 20vw !important;  
        justify-content:center !important;
    }
    .ProjectBorderUpRight.loaded{ 
        width:60% !important;
    }
    .borderUpRight{ 
        padding-top:20vh !important;
        display:flex !important;

        justify-content: center! important;
    }
    .borderRight{
        width:auto !important;
    }
    .ProjectContent.loaded{
        margin:0 !important; 
        padding:0 !important;
        width:99vw !important;
    }
    .ProjectContent2.loaded{
        margin:0 !important; 
        padding:0 !important;
        width:99vw !important;
    }
    .videoProject2{ 
        padding: 0 !important; 
        margin:0 !important;
        margin-bottom:100px !important;
        height:300px !important;
        display:flex !important; 
        justify-content: center;
    }
    .videoProject1{
        margin:0!important;
        padding:0 !important;
    }
    .ProjectBorder.loaded{
        width:130% !important;
    }
    .ProjectOverAll{
        /* width:100vw !important; */
    }
    .overLayProject1
    {
        height:295px !important;
        width:549.609px !important;
        top:57vh;
        left:0 !important;
        position:relative !important;
        margin:auto !important;
        display: flex !important;
        justify-self: center;
        margin-top:-40vh !important;
    }
    .overLayProject3{
        height:295px !important;
        width:533.594px !important;
        top:56.8vh;
        left:0 !important;
        position:relative !important;
        margin:auto !important;
        display: flex !important;
        justify-self: center;
        margin-top:-40vh !important;
    }
    .overLayProject2{
        height:300px !important;
        width:549.609px !important;
        top:114.2vh;
        left:2.5vw !important;
        position:relative !important;
        margin:auto !important;
        display: flex !important;
        justify-self: center;
        margin-top:-40vh !important;
        z-index:0 !important;
    }.ProjectDescription2{
        max-height:261.688px !important;
    }
    .overLayProject4{
        height:300px !important;
        width:533.328px !important;
        top:114.2vh;
        left:2.5vw !important;
        position:relative !important;
        margin:auto !important;
        display: flex !important;
        justify-self: center;
        margin-top:-40vh !important;
        z-index:0 !important;
    }
}
@media(max-width:5000px){
.projectTitle{ 
    padding-top:10px;
    padding-left:25px;
}
.secondLine{
    display:flex;
    padding-top:10px;
    padding-left:10px;
}
.dateProject{
    order: 2;
    place-items: center;
}
.ProjectTitre.ProjectTitre2{
    animation:out 0.5s ease-in;
    opacity:1;
    width:40vw;
    margin-left:30vw;
}
.ProjectOverAll{ 
    /* width:100vw; */
}
.borderUp{
    order:2;
    display:flex;
    padding-left:2vw;
}
.ProjectBorder.loaded{
    content:'';
    width:150%;
    display:flex;
    border-top:1px solid var(--green);
    animation:borderUp 0.5s ease-in;
    margin-left:-6vw;
}
.ProjectBorder2{
    width:0; 
    height:0;
}
.ProjectVideo2{ 
    width:fit-content !important;
}
.ProjectBorderRight.loaded{
    display:flex;
    border-left:1px solid var(--green);
    animation:borderRight 0.5s ease-in;
    height:40vh;
    margin-top:-7vh;
    padding-top:5vh;
}
.borderUp{
    height:35vh;
}
.ProjectBorderLeft{ 
    display:flex;
    border-left:1px solid var(--green);
    animation:borderRight 0.5s ease-in;
    margin-top:-7vh;
    padding-top:5vh;
    height:120%;
}
.ProjectBorder2.loaded{
    display:flex;
    margin-right:-20vw;
    margin-left:20vw;
    height:30vh;
    margin-top:-8vh;
    border-left:1px solid var(--green);
}
.ProjectBorderUpRight.loaded{ 
    animation:borderRight 0.5s ease-in;
    width:24vw;
    margin-left:-8vw;
    padding-left:10vw;
    border-top:1px solid var(--green);
    position:absolute;
    animation:borderUp 0.5s ease-in;
}
.borderUpRight{
    padding-right:2vw;
}
.borderLeft{ 
    margin-top:-10vh;
    padding-top:10vh;
}
.borderRight{ 
        width:20vw;
        display:flex;
        margin-top:-10vh;
        padding-top:10vh;
}
.ProjectCore{
    padding:7vh 3vh 3vh 3vh;
}
.ProjectDescription1{
    margin-top:-6vh;
}
.ProjectDescription2{
    margin-top:-6vh;
}
.ProjectTitre{ 
    margin-top:30vh;
    opacity:0;
    display:flex;
    justify-content: center;
}
.ProjectTitre p{ 
    margin-right:30px;
    color:var(--green);
    font-size:2.4vh;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
.ProjectTitre p:last-child{ 
    color:var(--light-slate);
    text-decoration:underline
}
.overLayProject1{ 
    position:absolute; 
    background:RGBA(100,255,218,0.6);
    width:732.812px;
    height:400px;
    left:25vw;
    margin:18.2vh 2vw 2vh 0vw;
    border-radius:10px;
    animation-delay:0.5s
}

.overLayProject2{ 
    position:absolute; 
    background:RGBA(100,255,218,0.6);
    width:796px;
    height:435px;
    left:25vw;
    margin:18.2vh 2vw 2vh 10vw;
    border-radius:10px;
}
.overLayProject3{ 
    position:absolute; 
    background:RGBA(100,255,218,0.6);
    width:711.400px;
    height:400px;
    left:25vw;
    margin:18.1vh 2vw 2vh 0vw;
    border-radius:10px;

}
.overLayProject4{ 
    position:absolute; 
    background:RGBA(100,255,218,0.6);
    width:773.328px;
    height:435px;
    left:25vw;
    margin:18vh 2vw 2vh 10vw;
    border-radius:10px;
}
.ProjectContent{ 
    margin-left:25vw;
    padding-left:15vw;
    width:26.8%;
    background-position:fixed;
}
.ProjectContent2{ 
    width:fit-content;
    opacity:1;
    margin:auto;
    margin-right:40vw;
}
.ProjectContent.loaded{
    animation:outUp 0.5s ease-in;
    margin-right:20vw;
}
.ProjectContent2.loaded{
    animation:outUp 0.5s ease-in;
    /* margin-left:13vw; */
}

.Project{
     width:45vw; 
     margin:15vh auto 0 auto; 
     display:flex; 
}
.ProjectVideo{ 
    animation:outUpVideo 0.5s ease-in;
}
.videoProject15{ 
        height:400px;
    border-radius:10px;
    margin:3vh 3vw 2vh 0vw;
}
.ProjectVideo:hover, .ProjectVideo2:hover{
    filter: drop-shadow(5px 5px 10px black);
    -webkit-filter: drop-shadow(5px 5px 10px black);
    }
.ProjectVideo2{
    /* margin:auto; */
    animation:outUp 0.5s ease-in;
}
.ProjectDescription1, .ProjectDescription2{ 
    padding-top:20px;
}
.imageProjet{
    width:20vw;
}
.videoProject{ 
    height:435px;
    border-radius:10px;
    margin:3vh 0vw 2vh 0vw;
}
.videoProject2{ 
    height:400px;
    margin:3vh 0vw 2vh -15vw;
    border-radius:10px;
}
.firstLine{ 
    display:flex;
}
.share{ 
    order:2;
    margin-left:auto;
    display:flex;
}
.Date{
    float:right;
    margin-top:2vh;
    font-size:0.9vw;
    color:var(--green);
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    color:var(--light-slate);
}
.FullDescription{ 
    margin-top:7vh;
    font-size:0.8vw;
    color:var(--light-slate);
}
.FullDescriptionL{ 
    margin-top:7vh;
    font-size:0.8vw;
    color:var(--light-slate);
    text-align:right;
}
.Titre{
    font-size:1vw;
    font-weight:600;
    color:white;
}
.tags{ 
    margin-top:2vh;
    display:flex;
    justify-content:space-evenly;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    color:var(--green);
    font-size:12px;
}
.tagResources{ 
    min-height:15px;
    height:0.8vw;
    margin-top:5px;
    margin-left:12px;
    filter: invert(91%) sepia(43%) saturate(599%) hue-rotate(83deg) brightness(100%) contrast(106%);
}
.tagResources:hover{
    cursor:pointer; 
    filter: invert(18%) sepia(49%) saturate(566%) hue-rotate(179deg) brightness(96%) contrast(96%);
}
@keyframes fadein{
    0% {opacity:0 }
    10% {opacity:0.1 }
    20% {opacity:0.2 }
    30% {opacity:0.3 }
    40% {opacity:0.4 }
    50% {opacity:0.5 }
    60% {opacity:0.5}
    70%, 72% {opacity:0.6 }
    80% { opacity:0.7 }
    90% { opacity:0.8  }
    95% { opacity:0.9  }
    100% { opacity:1}
}
@keyframes borderUp{
    0%{
        transform:scaleX(0);
    }
    100%{
        transform:scaleX(1);
    }
}
@keyframes borderRight{
    0%{
        transform:scaleY(0);
    }
    100%{
        transform:scaleY(1)
    }
}
@keyFrames out {
    0%{
        transform: translateY(30px);
        opacity:0;
    }
    20%{
        transform: translateY(30px);
        opacity:0.1;
    }
    40%{
        transform: translateY(30px);
        opacity:0.1;
    }
    60%{
        transform: translateY(30px);
        opacity:0.2;
    }
    80%{
        transform: translateY(30px);
        opacity:0.2;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}
@keyFrames outUp {
    0%{
        transform: translateY(100px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}
@keyFrames outUpVideo {
    0%{
        transform: translateY(100px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}
}